# Ignore all files by default
*

# Do NOT ignore directories, so Git can look inside them
!*/

# Keep your specific file types
!*.tex
!*.pdf
!*.bib 

# Do not ignore the gitignore file itself
!.gitignore

